extends layout

block title
  = titulo

block content
  div.d-flex.justify-content-between.align-items-center.mb-4
    h1.fw-bold= titulo
    a.btn.btn-outline-secondary(href="/lotes")
      i.bi.bi-arrow-left.me-1
      | Volver

  div.card.shadow-sm.mb-4
    div.card-header.bg-dark.text-white
      h5.mb-0
        i.bi.bi-box-seam.me-2
        | Datos del Lote
    div.card-body
      div.row
        div.col-md-3
          span.fw-bold Producto:
          span  #{producto ? producto.nombre : `ID ${lote.producto_id}`}
        div.col-md-3
          span.fw-bold N° Lote:
          span  #{lote.numero_lote}
        div.col-md-3
          span.fw-bold Stock actual:
          span  #{lote.cantidad_actual} / #{lote.cantidad_inicial}
        div.col-md-3
          span.fw-bold Vencimiento:
          span  #{new Date(lote.fecha_vencimiento).toLocaleDateString('es-AR')}

  div.card.shadow-sm
    div.card-header.bg-dark.text-white
      h5.mb-0
        i.bi.bi-arrow-left-right.me-2
        | Movimientos de Stock
    div.card-body.p-0
      table.table.table-hover.mb-0
        thead.table-light
          tr
            th Fecha
            th Tipo
            th Cantidad
            th Referencia
            th Observaciones
        tbody
          each mov in movimientos
            tr
              td= new Date(mov.fecha).toLocaleDateString('es-AR')
              td
                span.badge(class=mov.tipo === 'ingreso' ? 'bg-success' : (mov.tipo === 'egreso' ? 'bg-danger' : 'bg-warning text-dark'))
                  = mov.tipo.toUpperCase()
              td.text-center= mov.cantidad
              td= mov.referencia !== null ? mov.referencia : '-'
              td= mov.observaciones || '-'
          else
            tr
              td.text-center(colspan="5") Sin movimientos registrados para este lote.
