extends layout

block title
  = titulo

block content
  div.row.justify-content-center
    div.col-md-7
      div.bg-dark.text-white.p-3
        h4.m-0.fw-bold= titulo

      div.bg-white.p-4.border.border-top-0.shadow-sm
        if error
          div.alert.alert-danger.rounded-0= error

        form(method="POST", action=`/lotes/${lote._id}/editar`)
          div.row
            div.col-md-6.mb-3
              label.form-label.fw-bold Producto
              if esAdmin
                select.form-select.rounded-0(name="producto_id", required)
                  each prod in productos
                    option(value=prod._id, selected=(prod._id === lote.producto_id))= `#${prod._id} - ${prod.nombre}`
              else
                - const prodNombre = productos.find(p => p._id === lote.producto_id)
                input.form-control.rounded-0.bg-light(type="text", value=`#${lote.producto_id} - ${prodNombre ? prodNombre.nombre : ''}`, readonly)
                input(type="hidden", name="producto_id", value=lote.producto_id)
            div.col-md-6.mb-3
              label.form-label.fw-bold Proveedor
              if esAdmin
                select.form-select.rounded-0(name="proveedor_id")
                  option(value="", selected=!lote.proveedor_id) Sin proveedor
                  each prov in proveedores
                    option(value=prov._id, selected=(prov._id === lote.proveedor_id))= `#${prov._id} - ${prov.nombre}`
              else
                - const provNombre = proveedores.find(p => p._id === lote.proveedor_id)
                input.form-control.rounded-0.bg-light(type="text", value=lote.proveedor_id ? `#${lote.proveedor_id} - ${provNombre ? provNombre.nombre : ''}` : 'Sin proveedor', readonly)
                input(type="hidden", name="proveedor_id", value=lote.proveedor_id || '')

          div.mb-3
            label.form-label.fw-bold Número de Lote
            input.form-control.rounded-0(type="text", name="numero_lote", value=lote.numero_lote, required)

          div.row
            div.col-md-4.mb-3
              label.form-label.fw-bold Cantidad Inicial
              if esAdmin
                input.form-control.rounded-0(type="number", name="cantidad_inicial", value=lote.cantidad_inicial, min="0")
              else
                input.form-control.rounded-0.bg-light(type="number", value=lote.cantidad_inicial, readonly)
                input(type="hidden", name="cantidad_inicial", value=lote.cantidad_inicial)
            div.col-md-4.mb-3
              label.form-label.fw-bold Cantidad Actual
              if esAdmin
                input.form-control.rounded-0(type="number", name="cantidad_actual", value=lote.cantidad_actual, min="0")
              else
                input.form-control.rounded-0.bg-light(type="number", value=lote.cantidad_actual, readonly)
                input(type="hidden", name="cantidad_actual", value=lote.cantidad_actual)
            div.col-md-4.mb-3
              label.form-label.fw-bold Costo Unitario
              input.form-control.rounded-0(type="number", name="costo_unitario", min="0", value=lote.costo_unitario)

          div.mb-4
            label.form-label.fw-bold Fecha de Vencimiento
            input.form-control.rounded-0(type="date", name="fecha_vencimiento", value=lote.fecha_vencimiento ? new Date(lote.fecha_vencimiento).toISOString().split('T')[0] : '', required)

          div.d-flex.justify-content-end.gap-2
            a.btn.btn-outline-secondary.rounded-0(href="/lotes") Cancelar
            button.btn.btn-primary.rounded-0(type="submit") Guardar Cambios
