extends layout

block title
  = titulo

block content
  div.d-flex.justify-content-between.align-items-center.mb-4
    h1= titulo
    a.btn.btn-primary(href="/lotes/nuevo") Nuevo Lote

  table.table.table-hover.shadow-sm#tablaLotes
    thead.table-dark
      tr
        th.sortable(data-col="0") Número de Lote #[span.sort-icon]
        th.sortable(data-col="1") Producto #[span.sort-icon]
        th.sortable(data-col="2") Cant. Actual #[span.sort-icon]
        th.sortable(data-col="3") Costo Unit. #[span.sort-icon]
        th.sortable(data-col="4") Vencimiento #[span.sort-icon]
        th Acciones
    tbody
      each lote in lotes
        tr
          td.fw-bold= lote.numero_lote
          td= lote.nombreProducto
          td(data-val=lote.cantidad_actual)= lote.cantidad_actual
          td(data-val=lote.costo_unitario)= `$${lote.costo_unitario}`
          td(data-val=new Date(lote.fecha_vencimiento).getTime())
            - const fechaVenc = new Date(lote.fecha_vencimiento)
            - const sinVenc = fechaVenc.getFullYear() >= 2099
            span(class=!sinVenc && fechaVenc < new Date() ? 'text-danger fw-bold' : '')
              = sinVenc ? 'Sin vencimiento' : fechaVenc.toLocaleDateString('es-AR')
          td
            div.d-flex.gap-1
              a.btn.btn-sm.btn-secondary.me-1(href=`/lotes/${lote._id}/movimientos`) Ver Movimientos
              a.btn.btn-sm.btn-secondary.me-1(href=`/lotes/${lote._id}/editar`) Editar
              form(method="POST", action=`/lotes/${lote._id}/eliminar`, style="display:inline", onsubmit="return confirm('¿Seguro que querés eliminar este lote?')")
                button.btn.btn-sm.btn-danger(type="submit") Eliminar
      else
        tr
          td.text-center(colspan="6") No hay lotes registrados en el inventario.

block scripts
  script(src="/js/sortTable.js")
  script.
    initSortTable('tablaLotes')
