doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    title= titulo
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css")
  body
    div.container.mt-5
      div.d-flex.justify-content-between.align-items-center.mb-4
        h1= titulo
        div.d-flex.gap-2
          a.btn.btn-outline-secondary(href="/")
            i.bi.bi-house-fill.me-1
            | Home
          a.btn.btn-primary(href="/ventas/nueva-venta") Nueva Venta

      table.table.table-hover.shadow-sm
        thead.table-dark
          tr
            th ID Venta
            th Cliente (ID)
            th Fecha
            th Estado
            th Total
            th Acciones
        tbody
          each venta in ventas
            tr
              td.text-muted.small= venta._id
              td= venta.cliente_id
              td= new Date(venta.fecha).toLocaleDateString('es-AR')
              td
                span.badge(class=venta.estado === 'despachada' ? 'bg-success' : (venta.estado === 'cancelada' ? 'bg-danger' : 'bg-warning'))
                  = venta.estado.toUpperCase()
              td.fw-bold= `$${venta.total}`
              td.d-flex.gap-1
                a.btn.btn-sm.btn-secondary(href=`/ventas/ver/${venta._id}`) Detalle
                
                if venta.estado === 'pendiente'
                  form(action=`/ventas/despachar/${venta._id}` method="POST")
                    button.btn.btn-sm.btn-success(type="submit") Despachar
                
                if venta.estado === 'pendiente'  && usuarioRol === 'admin'
                  form(action=`/ventas/eliminar/${venta._id}` method="POST" onsubmit="return confirm('¿Está seguro de cancelar esta venta?')")
                    button.btn.btn-sm.btn-danger(type="submit") Eliminar
          else
            tr
              td.text-center(colspan="6") No hay ventas registradas.